@model PetArtworksPlatform.Models.ViewModels.ArtistList

@{
    ViewData["Title"] = "Artists";
}

<h1>Artists</h1>


@if (Model.isAdmin)
{
    <p style="margin-top:20px;">
        <a asp-action="New" class="btn btn-success">Create New</a>
    </p>
}

<div style="margin:25px;">
    @if (Model.MaxPage > 0)
    {
        <a href="/ArtistPage/List?PageNum=@(Model.Page - 1)">&laquo; Prev</a>
        <span>Page @(Model.Page + 1) of @(Model.MaxPage + 1)</span>
        <a href="/ArtistPage/List?PageNum=@(Model.Page + 1)">Next &raquo;</a>
    }
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artists.First().ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artists.First().ArtworkCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Artists)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtworkCount)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ArtistId" class="btn btn-info">Details</a>
                    @if (Model.isAdmin) 
                    {
                        <a asp-action="Edit" asp-route-id="@item.ArtistId" class="btn btn-warning">Edit</a>
                        <a asp-action="ConfirmDelete" asp-route-id="@item.ArtistId" class="btn btn-danger"> Delete </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
