@model PetArtworksPlatform.Models.ViewModels.ExhibitionList

@{
    ViewData["Title"] = "Exhibitions";
}

<h1>Exhibitions</h1>

@if (Model.isAdmin)
{
    <p style="margin-top:20px;">
        <a asp-action="New" class="btn btn-success">Create New</a>
    </p>
}

<div style="margin:25px;">
    @if (Model.MaxPage > 0)
    {
        <a href="/ExhibitionPage/List?PageNum=@(Model.Page - 1)">&laquo; Prev</a>
        <span>Page @(Model.Page + 1) of @(Model.MaxPage + 1)</span>
        <a href="/ExhibitionPage/List?PageNum=@(Model.Page + 1)">Next &raquo;</a>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exhibitions.First().ExhibitionTitle)
            </th>
            <th>
                Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibitions.First().StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibitions.First().EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Exhibitions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExhibitionTitle)
                </td>
                <td>
                    <span class="status-label status-@(item.Status.ToLower())">
                        @item.Status
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ExhibitionId" class="btn btn-info">Details</a>
                    @if (Model.isAdmin)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ExhibitionId" class="btn btn-warning">Edit</a>
                        <a asp-action="ConfirmDelete" asp-route-id="@item.ExhibitionId" class="btn btn-danger"> Delete </a>
                    }           
                </td>
            </tr>
        }
    </tbody>
</table>
