@using PetArtworksPlatform.Models.DTOs
@model PetArtworksPlatform.Models.DTOs.PetDTO

@{
    ViewData["Title"] = "Create Pet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add New Pet</h1>

<form method="post" asp-action="Create" asp-controller="PetPage">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Type" class="control-label"></label>
        <input asp-for="Type" class="form-control" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Breed" class="control-label"></label>
        <input asp-for="Breed" class="form-control" />
        <span asp-validation-for="Breed" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DOB" class="control-label"></label>
        <input asp-for="DOB" type="date" class="form-control" />
        <span asp-validation-for="DOB" class="text-danger"></span>
    </div>

    @* In this way, users need to hold ctrl/command key to mulity select owners *@
     @* <div class="form-group">
        <label for="owners">Select Owners</label>
        <select id="owners" name="OwnerIds" class="form-control" multiple>
            @foreach (var owner in ViewBag.Owners as List<MemberDTO>)
            {
                <option value="@owner.MemberId">@owner.MemberName</option>
            }
        </select>
        <span asp-validation-for="OwnerIds" class="text-danger"></span>
    </div> *@
    <div class="form-group">
        <label>Select Owners</label>
        <div>
            @if (Model.OwnerList != null)
            {
                foreach (var owner in Model.OwnerList)
                {
                    <div class="form-check">
                        <input type="checkbox" name="OwnerIds" value="@owner.MemberId"
                            class="form-check-input"
                            @(Model.OwnerIds != null && Model.OwnerIds.Contains(owner.MemberId) ? "checked" : "") />
                        <label class="form-check-label">@owner.MemberName</label>
                    </div>
                }
            }
            else
            {
                <p>No owners available.</p>
            }
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PetImage" class="control-label">Pet Image</label>
        <input asp-for="PetImage" type="file" class="form-control" />
        <span asp-validation-for="PetImage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="List" class="btn btn-secondary">Back to List</a>
    </div>
</form>
