@model PetArtworksPlatform.Models.ViewArtworkDetails
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "View Artwork";
    bool isOwner = false;
    string? currentUserId = null;

    if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin")){
        isOwner = true;
    }

    if (SignInManager.IsSignedIn(User) && User.IsInRole("ArtistUser"))
    {
        currentUserId = (await UserManager.GetUserAsync(User))?.Id;
        // if (Model.Artwork?.Artist?.ArtistUser != null)
        // {
        //     isOwner = (currentUserId != null && currentUserId == Model.Artwork.Artist.ArtistUser.Id);
        // }
    }

}
<p>User ID: @currentUserId</p>
<p>ArtworkArtist Artist Id: @Model.Artist.ArtistId</p>
<p>ArtworkArtist Owner Id: @Model.Artist.ArtistUser?.Id</p>

<h1 style="margin-bottom: 1rem;">@Model.Artwork.ArtworkTitle</h1>

<div class="row">
    <div class="col-md-6">
        <h4>Artwork Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Artwork.ArtworkTitle)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Artwork.ArtworkTitle)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Artwork.ArtworkMedium)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Artwork.ArtworkMedium)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Artwork.ArtworkYearCreated)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Artwork.ArtworkYearCreated)
            </dd>
            @if (Model.Artwork.HasArtworkPic)
            {
                <dt class="col-sm-4">
                    Artwork Image
                </dt>
                <dd class="col-sm-8">
                    <a data-lightbox="artwork-group" href="@Model.Artwork.ArtworkImagePath" data-title="@Model.Artwork.ArtworkTitle"><img src="@Model.Artwork.ArtworkImagePath" alt="@Model.Artwork.ArtworkTitle" /></a>
                </dd>
            }
            <dt class="col-sm-4">
                Artist
            </dt>
            <dd class="col-sm-8">
                <a href="/ArtistPage/Details/@Model.Artist.ArtistId">@Html.DisplayFor(model => model.Artist.ArtistName)</a>
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <h4>Exhibitions</h4>
        <hr />
        <ul>
            @foreach (var exhibition in Model?.Artwork.ListExhibitions ?? [])
            {
                <li>
                    <a href="/ExhibitionPage/Details/@exhibition.ExhibitionId">@exhibition.ExhibitionTitle</a>
                </li>
            }
        </ul>

        <h4 style="margin-top: 4rem;">Pet Information</h4>
        <hr />
        <ul>
            @foreach (var pet in Model?.Artwork.ListPets ?? [])
            {
                <li>
                    <a href="/PetPage/Details/@pet.PetId">@pet.Name</a>
                </li>
            }
        </ul>
    </div>
</div>

<div>
    <a asp-action="List" class="btn btn-secondary">Back to List</a>
    @* @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("ArtistUser"))) *@
    @if (isOwner)
    {
        <a asp-action="Edit" asp-route-id="@Model.Artwork.ArtworkId" class="btn btn-warning">Edit</a>
        <a asp-action="ConfirmDelete" asp-route-id="@Model.Artwork.ArtworkId" class="btn btn-danger">Delete</a>
    }
</div>

